.container {
  background-color: rgba(8, 8, 8, 0.75);
  height: 80px;
}

.navbar h1 a {
  text-decoration: none;
  color: #2da0f8;
  margin-left: 0vw;
}

.navbar ul a {
  list-style: none;
  font-size: 1.7vw;
  font-weight: bold;
  color: #2da0f8;
  text-decoration: none;
}

.navbar ul h4 {
  list-style: none;
  font-size: 1.7vw;
  font-weight: bold;
  color: #2da0f8;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .navbar ul a {
    font-size: 4vw;
  }
  .navbar h1 a {
    margin-left: 7vw;
  }
}
